<p>dashboard works!</p>
<div class="">
  <input (click)="loadPage('save-item')" type="button" value="saveCustomer" class="btn btn-primary m-1 d-block" >
  <input (click)="loadPage('delete-item')"type="button" value="updateCustomer" class="btn btn-primary m-1 d-block">
  <input (click)="loadPage('update-item')"type="button" value="deleteCustomer" class="btn btn-primary m-1 d-block">
  <input (click)="loadPage('search-item')"type="button" value="searchCustomer" class="btn btn-primary m-1 d-block">
</div>
<router-outlet></router-outlet>
